<ion-content color="light" [fullscreen]="true">
  <app-title></app-title>
  <div id=botsList class="flex flex-col bg-white min-h-[100px]  rounded-b-[2em] px-2  py-5 pb-12 gap-0 mb-10 relative transition-all duration-500 ease-in-out">
    <h3 class="font-Mukta text-3xl leading-10 font-extrabold my-5 px-10"><strong>Current Operations</strong></h3>
      @if(Current() !== null && Current()!.length > 0){
        <div class="flex flex-col px-2 gap-2 ">
          @for(current of Current(); track current.id){
            <span (click)="expandCurrent(current.id)" class="p-2 border-[3px] text-sm rounded-xl border-[#59c2702d] gap-2 font-Mukta flex flex-col cursor-pointer">
              <div class="flex flex-row w-full flex-1">
                <div class="max-w-[35px] max-h-[35px] w-full h-full mr-3">
                  @if(current.coin === 'KAS/USDT'){
                    <img src="assets/KAS.png" alt="KAS" class="w-full h-full">
                  }@else{
                    <img src="assets/LDO.png" alt="KAS" class="w-full h-full">
                  }
                </div>
                <div class="flex flex-col w-full ">
                  <span class="font-black font-Mukta text-lg leading-5">{{current.name}}</span>
                  <span class="flex flex-row gap-2">
                    <strong>{{current.coin}}</strong>
                    <strong>{{current.orders}} Orders</strong>
                  </span>
                </div>
                <div class="flex flex-col w-full text-right">
                  <span class="font-black font-Mukta text-lg leading-5 flex flex-row gap-2 justify-end">
                    <strong>{{formatCurrency(current.value!)}}</strong>
                    <strong>{{current.percentage}}%</strong>
                  </span>
                  <span class="font-bold" >
                    {{current.date}}
                  </span>
                </div>
              </div>
              @if(expanded() === current.id){
                <div class="min-h-[60px]  h-full w-full flex flex-row text-center">
                  <div class="flex flex-col w-full gap-2">
                    <span class="flex flex-col w-full">
                      <span class="font-semibold leading-3">Total Bought</span>
                      <span class="font-black text-[#59C270]">{{formatCurrency(current.totalBought!)}}</span>
                    </span>
                    <span class="flex flex-col w-full">
                      <span class="flex flex-col w-full">
                        <span class="font-semibold leading-3">Base Volume</span>
                        <span class="font-black text-[#59C270]">{{formatCurrency(current.baseVolume!)}}</span>
                      </span>
                    </span>
                  </div>
                  <div class="flex flex-col w-full gap-2">
                    <span class="flex flex-col w-full ">
                      <span class="font-semibold leading-3">Total Order</span>
                      <span class="font-black text-[#]">{{current.orders}}</span>
                    </span>
                    <span class="flex flex-col w-full">
                      <span class="flex flex-col w-full ">
                        <span class="font-semibold leading-3">Total KAS</span>
                        <span class="font-black text-[#]">{{current.totalCoin}}</span>
                      </span>
                    </span>
                  </div>
                  <div class="flex flex-col w-full gap-2">
                    <span class="flex flex-col w-full ">
                      <span class="font-semibold leading-3">MFI</span>
                      <span class="font-black text-[#]">{{current.MFI}}</span>
                    </span>
                    <span class="flex flex-col w-full">
                      <span class="flex flex-col w-full ">
                        <span class="font-semibold leading-3">Levarge</span>
                        <span class="font-black text-[#]">x{{current.levarge}}</span>
                      </span>
                    </span>
                  </div>
                </div>
              }

            </span>
          }
        </div>
      }@else{
        <div class="flex flex-col px-4 gap-2">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 50px; margin:0px,4px,0px,4px"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 50px; margin:0px,4px,0px,4px"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 50px; margin:0px,4px,0px,4px"></ion-skeleton-text>
        </div>
      }
  </div>
</ion-content>

